# Fake news Detetction using Machine Learning and NLP

In [1]:
import numpy as np
import pandas as pd
import spacy
import re
import sklearn
import matplotlib.pyplot as plt
import nltk
import pickle

In [2]:
pwd

'C:\\Users\\Dell'

In [3]:
cd C:\Users\Dell\PycharmProjects\class\

C:\Users\Dell\PycharmProjects\class

In [4]:
df=pd.read_csv('fake_data.csv')

In [5]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [6]:
df.tail()

,id,title,author,text,label
20795,20795,Rapper T.I.: Trump a ’Poster Child For White S...,Jerome Hudson,Rapper T. I. unloaded on black celebrities who...,0
20796,20796,"N.F.L. Playoffs: Schedule, Matchups and Odds -...",Benjamin Hoffman,When the Green Bay Packers lost to the Washing...,0
20797,20797,Macy’s Is Said to Receive Takeover Approach by...,Michael J. de la Merced and Rachel Abrams,The Macy’s of today grew from the union of sev...,0
20798,20798,"NATO, Russia To Hold Parallel Exercises In Bal...",Alex Ansary,"NATO, Russia To Hold Parallel Exercises In Bal...",1
20799,20799,What Keeps the F-35 Alive,David Swanson,"David Swanson is an author, activist, journa...",1

In [7]:
df.isnull().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [8]:
df.dropna(inplace=True)

In [9]:
df['label'].value_counts()

0    10361
1     7924
Name: label, dtype: int64

### Removing Punctuation

In [10]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [11]:
def remove_punct(txt):
    text_nopunct="".join([c for c in txt if c not in string.punctuation])
    return text_nopunct

In [12]:
df['no_punct']= df['text'].apply(lambda x: remove_punct(x))
df.head()

,id,title,author,text,label,no_punct
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide We Didn’t Even See Comey’s Lett...
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,Ever get the feeling your life circles the rou...
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired October 29 2...
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Videos 15 Civilians Killed In Single US Airstr...
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Print \nAn Iranian woman has been sentenced to...

In [13]:
from nltk.tokenize import word_tokenize
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [14]:
def tokenize(txt):
    tokens=re.split('\W+', txt)
    return tokens
df['tokenized_item']= df['no_punct'].apply(lambda x: tokenize(x.lower()))

In [15]:
df.head()

,id,title,author,text,label,no_punct,tokenized_item
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide We Didn’t Even See Comey’s Lett...,"[house, dem, aide, we, didn, t, even, see, com..."
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,Ever get the feeling your life circles the rou...,"[ever, get, the, feeling, your, life, circles,..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired October 29 2...,"[why, the, truth, might, get, you, fired, octo..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Videos 15 Civilians Killed In Single US Airstr...,"[videos, 15, civilians, killed, in, single, us..."
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Print \nAn Iranian woman has been sentenced to...,"[print, an, iranian, woman, has, been, sentenc..."

In [16]:
word_tokens= df['tokenized_item']

In [17]:
word_tokens

0        [house, dem, aide, we, didn, t, even, see, com...
1        [ever, get, the, feeling, your, life, circles,...
2        [why, the, truth, might, get, you, fired, octo...
3        [videos, 15, civilians, killed, in, single, us...
4        [print, an, iranian, woman, has, been, sentenc...
                               ...
20795    [rapper, t, i, unloaded, on, black, celebritie...
20796    [when, the, green, bay, packers, lost, to, the...
20797    [the, macy, s, of, today, grew, from, the, uni...
20798    [nato, russia, to, hold, parallel, exercises, ...
20799    [, david, swanson, is, an, author, activist, j...
Name: tokenized_item, Length: 18285, dtype: object

In [18]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [19]:
stopwords= nltk.corpus.stopwords.words('english')
stopwords[1:10]

['me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [20]:
def remove_stp(word_tokens):
    txt_clean=[word for word in word_tokens if word not in stopwords]
    return txt_clean

In [21]:
df['No_stp_word']= df['tokenized_item'].apply(lambda x: remove_stp(x))

In [22]:
stop_w= df['No_stp_word']
df.head()

,id,title,author,text,label,no_punct,tokenized_item,No_stp_word
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide We Didn’t Even See Comey’s Lett...,"[house, dem, aide, we, didn, t, even, see, com...","[house, dem, aide, even, see, comey, letter, j..."
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,Ever get the feeling your life circles the rou...,"[ever, get, the, feeling, your, life, circles,...","[ever, get, feeling, life, circles, roundabout..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired October 29 2...,"[why, the, truth, might, get, you, fired, octo...","[truth, might, get, fired, october, 29, 2016, ..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Videos 15 Civilians Killed In Single US Airstr...,"[videos, 15, civilians, killed, in, single, us...","[videos, 15, civilians, killed, single, us, ai..."
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Print \nAn Iranian woman has been sentenced to...,"[print, an, iranian, woman, has, been, sentenc...","[print, iranian, woman, sentenced, six, years,..."

In [23]:
from nltk.stem import PorterStemmer
ps= PorterStemmer()

In [24]:
def stemming(stop_w):
    txtt= [ps.stem(word) for word in stop_w]
    return txtt

df['stem'] = df['No_stp_word'].apply(lambda x: stemming(x))
df.head()

,id,title,author,text,label,no_punct,tokenized_item,No_stp_word,stem
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1,House Dem Aide We Didn’t Even See Comey’s Lett...,"[house, dem, aide, we, didn, t, even, see, com...","[house, dem, aide, even, see, comey, letter, j...","[hous, dem, aid, even, see, comey, letter, jas..."
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0,Ever get the feeling your life circles the rou...,"[ever, get, the, feeling, your, life, circles,...","[ever, get, feeling, life, circles, roundabout...","[ever, get, feel, life, circl, roundabout, rat..."
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1,Why the Truth Might Get You Fired October 29 2...,"[why, the, truth, might, get, you, fired, octo...","[truth, might, get, fired, october, 29, 2016, ...","[truth, might, get, fire, octob, 29, 2016, ten..."
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1,Videos 15 Civilians Killed In Single US Airstr...,"[videos, 15, civilians, killed, in, single, us...","[videos, 15, civilians, killed, single, us, ai...","[video, 15, civilian, kill, singl, us, airstri..."
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1,Print \nAn Iranian woman has been sentenced to...,"[print, an, iranian, woman, has, been, sentenc...","[print, iranian, woman, sentenced, six, years,...","[print, iranian, woman, sentenc, six, year, pr..."

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X=df['stem']
y=df['label']

In [27]:
X_train, X_test, y_train,y_test= train_test_split(X,y,test_size=0.33)

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [29]:
vect= TfidfVectorizer(analyzer=stemming)
X_train_tf= vect.fit_transform(X_train)

In [30]:
X_train_tf

<12250x113751 sparse matrix of type '<class 'numpy.float64'>'
	with 3274133 stored elements in Compressed Sparse Row format>

In [31]:
from sklearn.svm import LinearSVC

In [32]:
svc_clf= LinearSVC(C=3.0)
svc_clf.fit(X_train_tf, y_train)

LinearSVC(C=3.0)

In [33]:
from sklearn.pipeline import Pipeline

In [34]:
text_clf= Pipeline([('Tfidf',TfidfVectorizer(analyzer=stemming)),('SVC', LinearSVC(C=1.0))])

In [35]:
text_clf.fit(X_train, y_train)

Pipeline(steps=[('Tfidf',
                 TfidfVectorizer(analyzer=<function stemming at 0x000002682449E8B0>)),
                ('SVC', LinearSVC())])

In [36]:
predictions= text_clf.predict(X_test)

In [37]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [38]:
svc_cm= confusion_matrix(y_test, predictions)
svc_clf= classification_report(y_test, predictions)
svc_acc= accuracy_score(y_test, predictions)

In [39]:
print(svc_acc)
print(svc_clf)
print(svc_cm)

0.9666942833471417
              precision    recall  f1-score   support

           0       0.97      0.97      0.97      3450
           1       0.96      0.96      0.96      2585

    accuracy                           0.97      6035
   macro avg       0.97      0.97      0.97      6035
weighted avg       0.97      0.97      0.97      6035

[[3357   93]
 [ 108 2477]]

In [41]:
text_clf.predict(['Videos 15 Civilians Killed'])

0-Fake news